# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/bible-wiki/node_modules
/bible-wiki/.pnp
/bible-wiki/.pnp.*
/bible-wiki/.yarn/*
/bible-wiki/!.yarn/patches
/bible-wiki/!.yarn/plugins
/bible-wiki/!.yarn/releases
/bible-wiki/!.yarn/versions

# testing
/bible-wiki//coverage

# next.js
/bible-wiki/.next/
/bible-wiki/out/

# production
/bible-wiki/build

# misc
/bible-wiki/.DS_Store
/bible-wiki/*.pem

# debug
/bible-wiki/npm-debug.log*
/bible-wiki/yarn-debug.log*
/bible-wiki/yarn-error.log*
/bible-wiki/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
/bible-wiki/.env*

# vercel
/bible-wiki/.vercel

# typescript
/bible-wiki/*.tsbuildinfo
/bible-wiki/next-env.d.ts
